@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styling */
:root {
  --git-primary-color: #f4f4f4;
  --git-primary-background-color: #388f83;
  --git-hover-background: #f4f4f41c;
  --twitter-primary-background-color: #1da1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.primary {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--git-primary-color);
}

.form {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.2rem 0rem;
}

.form-background {
}

.form-sm {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  text-align: left;
}

.form-sm h1 {
  text-align: center;
  margin: 2rem 0rem;
}

.form-sm label {
  text-align: left !important;
}

.form-sm input[type='submit'] {
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  color: var(--git-primary-color);
  border: none;
  background: var(--git-primary-background-color);
}

.btn:hover {
  opacity: 0.7;
}

.alert {
  display: block;
  padding: 0.2rem;
  width: 100%;
}

.alert-danger {
  background: #f0dddd;
  color: #ec2727;
}

.hide-mobile-item {
  display: none;
}

/* Landing Page ======================================*/

.navLanding {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
.transparent h1,
span,
a {
  color: #fff;
}

.theLoginButton {
  padding: 0.7rem;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
}

/* Section1 */

#section1 {
  margin-top: -4.3rem;
  color: #f4f4f4;
}

#section1 h1 {
  margin-bottom: '2rem';
  font-size: '3rem';
}

.navLanding span {
  cursor: pointer;
}

.backgroundPic {
  background: #333 url(./img/unsplash3_3_2.jpg) no-repeat center center / cover;
  height: 100vh;
}

.landing {
  height: 100vh;
  display: flex;
  /* Overlay */
  background-color: rgba(0, 0, 0, 0.4);
}

.showcaseContent {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.downArrow {
  margin-top: -4rem;
  cursor: pointer;
}

.sideNavBar {
  color: #fff;
  position: fixed;
  top: 45vh;
  left: 0;
  z-index: 1;
  /* background: grey; */
}

.sideNavBar ul li i {
  color: #f8f7f7;
}
.sideNavBar ul li span {
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
}

.sideNavBar ul li span:hover {
  color: #f4f4f4;
}

/* Section2 */
#section2 {
  display: flex;
  justify-content: space-around;
  background: #333;
  color: #f4f4f4;
}

.section2Content {
  margin-top: 2rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 1rem;
  margin: 2rem 0rem;
}

.featureItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 8px 8px 0px #424141;
  color: #f4f4f4;
  background: #333; /**/
  border: 1px dotted #d6d1d100;
  text-align: center;
  /* height: 150px; */
}

.featureItem i {
  padding: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.featureItem p {
  margin: 0.5rem 0;
  text-align: left;
}

/* Section3 */
#section3 {
  display: block;
  color: #f4f4f4;
  background: #333;
}

.snippetsGrid {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.snippetGridItem {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 8px 8px 0px #0a0808;
}

.section3ContactUs {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 2rem;
}

#section3 hr {
  /* width: 60%; */
  margin-bottom: 1rem;
}

.contactItem {
  text-align: left;
}

.login {
  border: 1px solid #333;
  border-radius: 10px;
  background: #ece7e7b2;
}

.login h1 {
  margin-bottom: 2rem;
}

.login label {
  font-weight: 100;
  margin-bottom: 1rem;
}

.login input {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 50%;
}

/* Navbars */
/* global */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.3rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 0.5rem;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  padding: 1rem;
}

.navbar ul a:hover {
  background: var(--git-hover-background);
  border-radius: 5px;
}

/* Dropdown =================== */
.dropdown {
  position: relative;
  padding: 1rem;
  padding: 0rem 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--git-primary-background-color);
  min-width: 7.75rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 1.7rem;
  right: 0.1rem;
}

.dropdown-content a,
.dropdown-item {
  float: none;
  padding: 1rem;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--git-hover-background);
}

.dropdown-item:hover {
  background-color: var(--git-hover-background);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-nav-item {
  display: none;
}

/* Users */
.home-github-icon {
  display: flex;
  justify-content: center;
}

.home-github-icon i {
  margin-top: 4rem;
}

.userCard {
  background: #f4f4f4bd;
  padding: 1rem 0rem;
  /* text-align: center; */
  align-items: center;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.userCard * {
  padding-top: 0.4rem;
}

.userCard img {
  border-radius: 50%;
  /* height: 30%; */
  width: 30%;
}

.userCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.profileCard {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #ece7e7b2;
  padding: 1rem 0;
}

.profileCard strong {
  color: var(--git-primary-background-color);
  font-size: 1rem;
}

.add-to-directory {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: var(--git-primary-background-color);
}
.add-to-directory:hover {
  opacity: 0.7;
}

.added-to-directory {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--git-primary-background-color);
}

.bottomCardElement p {
  text-align: justify;
  padding: 0.3rem 2rem;
  font-size: 14px;
}

.cardElement1 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1.5px solid #d6d1d1;
}

.topCardElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topCardElement .btn {
  margin-top: 0.7rem;
}

.cardElement2 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userQuantifiedInfo {
  display: flex;
  padding-right: 1rem;
}

.userQuantifiedInfo p {
  display: inline-block;
  margin: 2px;
  padding: 3px 7px;
  font-size: 11px;
  border-radius: 15px;
  color: #fff;
}

.repo {
  padding: 0.3rem;
  border: 1px dotted #d6d1d1;
  margin: 0.7rem;
  text-align: left;
}

.repo * {
  padding-left: 0.5rem !important;
}

.repo a {
  color: var(--git-primary-background-color);
  font-weight: bold;
  padding: 0 !important;
}
.repo a:hover {
  opacity: 0.7;
}

/* >>>>>>>>>>>>>>>>>>>>> About <<<<<<<<<<<<<<<<<<<< */

#about .indent-features {
  margin-left: 1rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>> MyDirectory <<<<<<<<<<<< */

.filter-condition p {
  margin: 0.5rem 0rem;
}
.filter-condition p {
  display: inline-block;
  padding: 0.4rem;
  background: #d9dbdb;
  width: 3rem;
  text-align: center;
  cursor: pointer;
}

.filter-condition p:hover {
  opacity: 0.7;
}
.filter-condition p:first-child {
  background: #388f83;
  color: #f4f4f4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filter-condition p:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.empty-directory-message {
  margin-top: 2rem;
}

/* ====================== */

/* Git */
.git {
  background: var(--git-primary-background-color);
  color: var(--git-primary-color);
}
/* Twitter */
.twitter {
  background: var(--twitter-primary-background-color);
  color: var(--git-primary-color);
}
/* linkedin */

/* >>>>>>>>>>>>>>>>>>>> Responsive Design <<<<<<<<<<<<<<<<<<<<<< */

/* Tablets */
@media (max-width: 1130px) {
  .profileCard {
    margin: 1rem;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 3rem;
  }

  .sideNavBar {
    display: none;
  }

  .downArrow {
    margin-top: 0rem;
  }
}

/* Unique: git profile cards */
@media (max-width: 830px) {
  .profileStats {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

  .userQuantifiedInfo {
    margin-left: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .hide-mobile-item {
    display: block;
  }
  /* Navbars */

  /* .theLoginButton {
    border: none;
  } */

  .sideNavBar {
    display: none;
  }

  .navbar {
    flex-direction: column;
    padding-bottom: 0rem;
  }

  .navbar ul {
    margin-top: 1rem;
  }

  .navLanding {
    background: #333;
    padding: 0.5rem 3rem;
  }
  .navbar ul {
    flex-direction: column;
    margin-top: 0rem;
  }

  .navbar ul li {
    width: 100vw;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #748881;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .navLanding ul li {
    border-bottom: 1px solid #5a5959;
  }

  .navbar ul li:last-child {
    padding-top: 0.2rem;
    border: none;
  }

  .dropdown {
    display: none;
  }

  .mobile-nav-item {
    display: block;
  }

  /* Landing Sections */

  /* Section1 */
  #section1 {
    height: 100vh;
    margin-top: -14.3rem;
  }

  #section1 h1 {
    font-size: 1.5rem;
  }

  #section1 h2 {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .downArrow {
    display: none;
  }

  /*  Section2 */

  .features {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .featureItem {
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }

  .featureItem h4 {
    text-align: center;
  }

  .featureItem i {
    padding: 1rem;
    border-radius: 50%;
    margin-right: 0rem;
  }

  .featureItem p {
    display: none;
  }

  /* Section3 */

  .section3ContactUs {
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .section3ContactUs h2,
  .socialMedia,
  p {
    text-align: center;
  }

  /* Git APP */

  /* Register & Login */
  .form-sm {
    padding-top: 0rem;
  }
  .form-sm h1 {
    margin: 0rem;
  }

  /* about */
  #about .indent {
    margin-left: 0rem;
    margin-top: 0.4rem;
    text-align: left;
  }

  /* profiles */
  .userCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .profileCard {
    grid-template-columns: 1fr;
  }

  .hireable-mobile {
    align-self: center;
    margin-right: 2rem;
  }

  .profileStats {
    display: none;
  }

  /* My directory */
  .empty-directory-message {
    margin-top: 0rem;
  }
}

@media (max-width: 370px) {
  .form {
    padding: 0.7rem;
  }
  .home-github-icon {
    margin-top: -4rem;
  }
}

@media (max-width: 320px) {
  .navbar ul a {
    padding: 0.5rem;
  }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>> Loader <<<<<<<<<<<<<<<<<<<<<<<<<<*/

.loader {
  margin-top: 4rem;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #388f83;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Test ============================= */
